# Ignore compiled binaries
*.exe
*.dll
*.so
*.dylib

# Ignore dependencies
/node_modules

# Ignore log files
*.log
/logs

# Ignore environment-specific files
.env

# Ignore operating system files
.DS_Store
Thumbs.db